@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@layer base {
  body {
    @apply bg-white dark:bg-neutral-900;
  }
}

body.modalbox-open {
  pointer-events: none;
}

body.modalbox-open dialog {
  pointer-events: none;
}

body.modalbox-open .modalbox * {
  pointer-events: auto;
}

.navSettings {
  width: 20%;
}

.contentSettings {
  min-width: 80%;
  padding: 2rem;
}
