{
  "branches": [
    {
      "name": "production"
    },
    {
      "name": "main",
      "prerelease": "alpha"
    }
  ],
  "debug": "true",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "cargo set-version ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "package-lock.json",
          "Cargo.toml",
          "Cargo.lock",
          "crates/**/Cargo.toml",
          "crates/**/Cargo.lock",
          "CHANGELOG.md"
        ],
        "message": "chore(release): create v${nextRelease.version}"
      }
    ]
  ]
}
